<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_secret</key>
	<string>QAPNTQP1WB0O1G3H5HLUVEQJNUMKFEDSCB50ZZTL3REF1LIV</string>
	<key>client_id</key>
	<string>QNHNY2N42FLC3CY1MQ2ODK5AKPOS2UC3F00P2OECG10F2TQR</string>
</dict>
</plist>
